{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <img src="{% static 'images/SSLlogo.png' %}" class="mr-4 h-11" alt="Spot Stock Logo">
        <span>Spot Stock</span>  
    </a>
     <!-- Main Content with Box Shadow -->
    <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
        {% trans "Change Password" %}
        </h2>
    {% url 'account_change_password' as action_url %}
    <form method="POST" action="{% url 'account_change_password' %}" class="mt-8 space-y-6">
    {% csrf_token %}
    <div class="form-group">
        {{ form.oldpassword }}  <!-- This will include your custom attributes -->
        {% if form.oldpassword.errors %}
            <div class="text-error">
                {% for error in form.oldpassword.errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.password1 }}  <!-- This will include your custom attributes -->
        {% if form.password1.errors %}
            <div class="text-error">
                {% for error in form.password1.errors %}
                    <strong class="text-red-600">{{ error|escape }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.password2 }}  <!-- This will include your custom attributes -->
        {% if form.password2.errors %}
            <div class="text-error">
                {% for error in form.password2.errors %}
                    <strong class="text-red-600">{{ error|escape }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="flex justify-between">
    <button style="background-color:#4A325C; color:white;" type="submit" class="btn">{% trans "Change Password" %}</button>
    <a class="text-primary-700 hover:underline dark:text-primary-500" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
</form>
</div>
</div>
    {% comment %} {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
    {% endelement %} {% endcomment %}
{% endblock content %}
