{% extends "base.html" %}
{% load static %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
    <a href="" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <img src="{% static 'images/SSLlogo.png' %}" class="mr-4 h-11" alt="Spot Stock Logo">
        <span>Spot Stock</span>  
    </a>
     <!-- Main Content with Box Shadow -->
    <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
        {% trans "Password Reset" %}
        </h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class=" pb-3">
            {% trans "Forgotten your password? Enter your email address below,\n and we'll send you an email allowing you to reset it." %}
        </p>
        {% url 'account_reset_password' as reset_url %}
        <form method="POST" action="{% url 'account_reset_password' %}" class="mt-8 space-y-6">
        {% csrf_token %}
            <div class="form-group">
                {{ form.email }} <br> <!-- This will include your custom attributes -->
                {% if form.email.errors %}
                    <div class="text-error">
                        {% for error in form.email.errors %}
                            <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input id="remember" aria-describedby="remember" name="remember" type="checkbox" class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600" required>
                </div>
                <div class="ml-3 text-sm">
                    <label for="remember" class="font-medium text-gray-900 dark:text-white">I accept the <a href="#" class="text-primary-700 hover:underline dark:text-primary-500">Terms and Conditions</a></label>
                </div>
            </div>

            <button class="w-full px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit" class="btn">{% trans "Reset Password" %}</button>
        </form>
    </div>
    {% element p %}
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    {% endelement %}
</div>
{% endblock content %}
