{% extends 'base.html' %}
{% load static %}

{% block head_title %} Home {% endblock %}

{% block content %}
    <div class="flex flex-col items-center justify-center min-h-screen space-y-6 bg-white dark:bg-gray-800">
        
        <!-- Image Section -->
        <div class ="flex flex-col items-center justify-center space-y-6">

            <img src="{% static 'images/spot_stock-1.png' %}" alt="App Image" class="w-1/2 md:w-1/3 lg:w-1/4">
        </div>
        
        <!-- Continue to App Button -->
        <a href="{% url 'account_login' %}" style="background-color: #4A325C;" class="text-white font-bold py-3 px-8 rounded-lg shadow-lg hover:opacity-80 transition duration-300">
            Continue to App
         </a>
    </div>
{% endblock %}

{% comment %}  {% endcomment %}