{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    {% trans "Manage Profiles" %}
{% endblock head_title %}

{% block content %}
{% include 'partials/appbar.html' %}
<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
    {% include 'partials/sidebar.html' %}

    <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900 p-4">
        <main>
            <div class="flex flex-col lg:flex-row items-center justify-center min-h-screen">
                <!-- Form Section -->
                <div class="lg:w-1/2 w-full p-4">
                    <div class="shadow-lg shadow-indigo-500/50 rounded-lg p-8  dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                        <h2 class="text-2xl font-bold mb-6 text-center">
                            {% if created %}{% trans "Create" %}{% else %}{% trans "Update" %}{% endif %} {% trans "Profile" %}
                        </h2>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <!-- Profile Picture Preview -->
                            <div class="flex justify-center mb-4">
                                <img id="profile-picture-preview" 
                                     src="{% if form.instance.profile_picture %}{{ form.instance.profile_picture.url }}{% else %}https://flowbite.com/docs/images/people/profile-picture-5.jpg{% endif %}" 
                                     alt="Profile Picture" 
                                     class="w-32 h-32 rounded-full object-cover">
                            </div>

                            <!-- Custom File Input -->
                            <div class="form-group pb-4">
                                <input type="file" name="profile_picture" accept="image/*" id="file-input" style="display: none;" onchange="previewImage(event)">
                                <label for="file-input" class="custom-file-upload">
                                    Choose Profile Picture
                                </label>
                            </div>

                            <!-- Other Form Fields -->
                            {% for field in form %}
                                {% if field.name != 'profile_picture' %}  <!-- Exclude profile_picture field -->
                                    <div class="form-group">
                                        {{ field }} <br>
                                        {% if field.errors %}
                                            <div class="text-error">
                                                {% for error in field.errors %}
                                                    <strong>{{ error|escape }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if form.errors %}
                                <div class="text-error">
                                    {% for error in form.non_field_errors %}
                                        <strong>{{ error|escape }}</strong>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <button type="submit" style="background-color: #4A325C; color:white;" class="mt-4 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-300">
                                {% if created %}{% trans "Create" %}{% else %}{% trans "Update" %}{% endif %} {% trans "Profile" %}
                            </button>
                        </form>

                        <div class="mt-4 text-center">
                            <a href="{% url 'profile' %}" style="color: #4A325C;" class="hover:underline">{% trans "View Profile" %}</a>
                        </div>
                    </div>
                </div>

               
            </div>
        </main>
    </div>
</div>

<script>
// JavaScript function to preview the uploaded image
function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function(){
        const output = document.getElementById('profile-picture-preview');
        const outputLg = document.getElementById('profile-picture-preview-lg');
        output.src = reader.result;
        outputLg.src = reader.result; // Update large preview as well
    }
    reader.readAsDataURL(event.target.files[0]);
}
</script>

<!-- CSS Styles -->
<style>
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4A325C; /* Button color */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #3b253e; /* Darker shade on hover */
}
</style>

{% endblock content %}