{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
    {% trans "Manage Profiles" %}
{% endblock head_title %}

{% block content %}
{% include 'partials/navbar.html' %}

<div class="flex flex-col items-center justify-center min-h-screen p-4">
    <div class="shadow-lg shadow-lg shadow-indigo-500/50 rounded-lg p-8 w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center">
            {% if created %}{% trans "Create" %}{% else %}{% trans "Update" %}{% endif %} {% trans "Profile" %}
        </h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
        <div class="form-group">
            {{ field }} <br> <!-- This will include your custom attributes -->
            {% if field.errors %}
                <div class="text-error">
                    {% for error in field.errors %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    {% if form.errors %}
        <div class="text-error">
            {% for error in form.non_field_errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
        </div>
    {% endif %}

            <button type="submit"  style="background-color: #4A325C; color:white;" class="mt-4 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-300">
                {% if created %}{% trans "Create" %}{% else %}{% trans "Update" %}{% endif %} {% trans "Profile" %}
            </button>
        </form>

        <div class="mt-4 text-center">
            <a href="{% url 'profile' %}"  style="color: #4A325C;" class=" hover:underline">{% trans "View Profile" %}</a>
        </div>
    </div>
</div>

{% endblock content %}