{% extends 'base.html' %}
{% load static %}

{% block head_title %} Dashboard {% endblock %}

{% block content %}
{% include 'partials/navbar.html' %}
<div class="flex flex-col items-center justify-center min-h-screen space-y-6  w-full bg-white border-b  dark:bg-gray-800">

    {% if has_profile %}
        <h1 class="text-2xl font-bold">Welcome to your Dashboard!</h1>

        <!-- Products/Projects Section -->
        <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 w-full px-4">
            {% for product in products %}
                <div class="bg-{{ product.color }} p-4 rounded-lg shadow-md flex flex-col items-center">
                    <img src="{{ product.icon_url }}" alt="{{ product.name }} Icon" class="h-12 w-12 mb-2" />
                    <h2 class="text-lg font-semibold">{{ product.name }}</h2>
                </div>
            {% empty %}
                <div class="col-span-full text-center">
                    <p>No products available.</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <!-- Card for creating a profile -->
        <div class="bg-sky-500/100 shadow-lg rounded-lg p-6 text-center w-80">
            <h2 class="text-lg font-semibold mb-4 text-white">No Profile Found</h2>
            <p class="mb-4 text-white">It looks like you don't have a profile yet. Please create one to continue.</p>
            <a href="{% url 'manage_profile' %}" style="background-color:#4A325C; color:white;" class=" text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-300">
                Create a Profile
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}